@{
    ViewBag.Title = "Home Page";
}
<br />


@for (int i = 0; i <= 12; i++)
{
    string x = "panel panel-primary col-lg-12";
    if (ViewBag.Weather["data"]["weather"][i].ToString().Contains("T-storms"))
    {
        x = "panel panel-danger col-lg-12";
    }
    else if (ViewBag.Weather["data"]["weather"][i].ToString().Contains("Showers"))
    {
        x= "panel panel-warning col-lg-12";
    }
    <br />
    <div class="@x">
        <div class="panel-heading text-center">
            <h4>@ViewBag.Weather["time"]["startPeriodName"][i]</h4>
            @ViewBag.Weather["data"]["weather"][i]
        </div>       
        <div class="panel-body text-center">
            <div class="col-sm-1">
                @ViewBag.Weather["data"]["temperature"][i]*
            </div>
            <div class="col-sm-2">
                <img src="@ViewBag.Weather["data"]["iconLink"][i]" />
            </div>
            <div class="col-lg-8">
                @ViewBag.Weather["data"]["text"][i]
            </div>
        </div>
    </div>
    <br />
}
